<a href="https://colab.research.google.com/github/LithiraHettiarachchi/Automate_GTFS_Update/blob/main/Automate_GTFS_Update.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Get Location names using GeoPy

In [33]:
# Import Google drive contents to google colab
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [34]:
# Get cordinate text file from drive
import os

txt_file_path = "/content/drive/My Drive/Colab Notebooks/stopsNew.txt"

if os.path.exists(txt_file_path):
    print("File exists.")
else:
    print("File does not exist.")

File exists.

In [35]:
#Importing ImportExport EXCEL file
excel_file_path = "/content/drive/My Drive/Colab Notebooks/Bus_Stop_List.xlsx"
if os.path.exists(excel_file_path):
    print("File exists.")
else:
    print("File does not exist.")

File exists.

In [36]:
#Importing Input EXCEL file
input_file_path = "/content/drive/My Drive/Colab Notebooks/Input_Data.xlsx"
if os.path.exists(input_file_path):
    print("File exists.")
else:
    print("File does not exist.")

File exists.

In [39]:
#Import pandas and read text file as CSV
import pandas as pd
df = pd.read_csv(txt_file_path, delimiter= ",")
print(df.head())

      stop_id         stop_name   stop_lat    stop_lon
0  31054002SP          Ganahena  6.0061877  80.2539640
1  31054003SP  Eluwila Junction  5.9998053  80.2676797
2  31054004SP        Pannanduwa  5.9992273  80.2722403
3  31054005SP     Kahawannagama  5.9960607  80.2865973
4  31054006SP        Palutagaha  5.9948307  80.2913377

In [40]:
# Extract corresponding sheet and columns from excel sheet
excData = pd.read_excel(excel_file_path, sheet_name=None)
excelData = excData['Stops']
tripsData = excData['Trips']
routesData = excData['Routes']
print(excelData.tail())
# print(routesData)
# print(tripsData)

         stop_id  stop_code             stop_name  stop_desc   stop_lat  \
81    71235011IP        NaN    Thawalama Junction        NaN  6.3403497
82    71233010IP        NaN                Neluwa        NaN  6.3774803
83  31021060SP-R        NaN  Batuwangala Junction        NaN  6.3807607
84  31021045SP-R        NaN           Kadiningala        NaN  6.3462312
85  31021037SP-R        NaN               Dellawa        NaN  6.3209369

      stop_lon  zone_id  stop_url  location_type  parent_station  \
81  80.3366232      NaN       NaN            NaN             NaN
82  80.3608382      NaN       NaN            NaN             NaN
83  80.3777370      NaN       NaN            NaN             NaN
84  80.4157197      NaN       NaN            NaN             NaN
85  80.4368641      NaN       NaN            NaN             NaN

    stop_timezone  wheelchair_boarding
81            NaN                  NaN
82            NaN                  NaN
83            NaN                  NaN
84            NaN                  NaN
85            NaN                  NaN

In [41]:
inputData = pd.read_excel(input_file_path, sheet_name='Sheet1')
print(inputData)

   stop_id     stop_lat     stop_lon arrival_time departure_time  sequence  \
0      NaN  6.877093300  79.86057330     06_25_00       06_25_00         1
1      NaN  6.889261300  79.85690170     06_30_00       06_30_00         2
2      NaN  6.933735100  79.85627480     06_35_00       06_35_00         3
3      NaN  7.154234100  79.87186510     06_40_00       06_40_00         4
4      NaN  7.280820100  79.85559580     06_50_00       06_50_00         5
5      NaN  7.576217400  79.79583090     07_00_00       07_00_00         6
6      NaN  6.032076500  80.78846800     07_10_10       07_00_00         7
7      NaN  6.869291961  79.85875881     07_20_00       07_20_00         8
8      NaN  6.756371000  80.69370800     07_30_00       07_30_00         9

  stop_headsign       trip_id  route_id  direction
0        Jaffna  N$0$B111_T01        22          1
1        Jaffna  N$0$B111_T01        22          1
2        Jaffna  N$0$B111_T01        22          1
3        Jaffna  N$0$B111_T01        22          1
4        Jaffna  N$0$B111_T01        22          1
5        Jaffna  N$1$B111_T01        22          0
6        Jaffna  N$1$B111_T01        22          0
7        Jaffna  N$1$B111_T01        22          0
8        Jaffna  N$1$B111_T01        22          0

In [42]:
dir_list = []
rows_to_add_trips = []
trip_id_array = inputData['trip_id'].unique()
trip_route_id_array = inputData['route_id'].unique()
for string_index, string in enumerate(trip_id_array):
    for char_index, char in enumerate(string):
        if char == '$':
          dir_list.append(string[char_index + 1])
          break
print(trip_id_array)
print(trip_route_id_array)
print(dir_list)
for i in range(len(trip_id_array)):
  row = {'route_id': trip_route_id_array[0], 'service_id': 'Daily', 'trip_id': trip_id_array[i], 'trip_headsign': 'Ampara', 'direction_id': dir_list[i]}
  rows_to_add_trips.append(row)
print(rows_to_add_trips)

['N$0$B111_T01' 'N$1$B111_T01']
[22]
['0', '1']
[{'route_id': 22, 'service_id': 'Daily', 'trip_id': 'N$0$B111_T01', 'trip_headsign': 'Ampara', 'direction_id': '0'}, {'route_id': 22, 'service_id': 'Daily', 'trip_id': 'N$1$B111_T01', 'trip_headsign': 'Ampara', 'direction_id': '1'}]

In [43]:
route_name = str(input("Enter route name: "))
routeRow = {'route_id': trip_route_id_array[0], 'agency_id': 'BOOK', 'route_short_name': '22', 'route_long_name': route_name,
            'route_type': '3', 'route_color': 'D4D428'}

print(routeRow)

Enter route name: Colombo-Ampara
{'route_id': 22, 'agency_id': 'BOOK', 'route_short_name': '22', 'route_long_name': 'Colombo-Ampara', 'route_type': '3', 'route_color': 'D4D428'}

In [44]:
cordList = excelData[['stop_lat', 'stop_lon']]
print(cordList)

       stop_lat     stop_lon
0   6.869291961  79.85875881
1   6.877093300  79.86057330
2   6.881399600  79.86167910
3   6.884079100  79.85838670
4   6.889261300  79.85690170
..          ...          ...
81  6.340349700  80.33662320
82  6.377480300  80.36083820
83  6.380760700  80.37773700
84  6.346231200  80.41571970
85  6.320936900  80.43686410

[86 rows x 2 columns]

In [45]:
pd.set_option('display.precision', 12)
null_values = inputData['stop_id'].isnull()
rows_with_null = inputData[null_values][['stop_lat', 'stop_lon']]
print(rows_with_null)
latitude_cords = rows_with_null['stop_lat']
longitude_cords = rows_with_null['stop_lon']
print(latitude_cords)
print(longitude_cords)

      stop_lat     stop_lon
0  6.877093300  79.86057330
1  6.889261300  79.85690170
2  6.933735100  79.85627480
3  7.154234100  79.87186510
4  7.280820100  79.85559580
5  7.576217400  79.79583090
6  6.032076500  80.78846800
7  6.869291961  79.85875881
8  6.756371000  80.69370800
0    6.877093300
1    6.889261300
2    6.933735100
3    7.154234100
4    7.280820100
5    7.576217400
6    6.032076500
7    6.869291961
8    6.756371000
Name: stop_lat, dtype: float64
0    79.86057330
1    79.85690170
2    79.85627480
3    79.87186510
4    79.85559580
5    79.79583090
6    80.78846800
7    79.85875881
8    80.69370800
Name: stop_lon, dtype: float64

In [46]:
import openpyxl

search_cords_list = []

for row in excelData.iterrows():
  lat_data = float(row[1].stop_lat)
  lon_data = float(row[1].stop_lon)

  if (latitude_cords.isin([lat_data]).any()) and (longitude_cords.isin([lon_data]).any()):
    extracted_list = {'stop_id': {row[1].stop_id}, 'stop_lat': {row[1].stop_lat}, 'stop_lon': {row[1].stop_lon}}
    search_cords_list.append(extracted_list)

print(search_cords_list)

#Update df with search cord list values
for info in search_cords_list:
  id_value = str(info['stop_id'].pop())
  lat_value = float(info['stop_lat'].pop())
  lon_value = float(info['stop_lon'].pop())

  inputData.loc[(inputData['stop_lon'] ==  lon_value) & (inputData['stop_lat'] ==  lat_value), 'stop_id'] = id_value

with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(inputData)

[{'stop_id': {'T000000002W'}, 'stop_lat': {6.869291961}, 'stop_lon': {79.85875881}}, {'stop_id': {'91304020WP'}, 'stop_lat': {6.8770933}, 'stop_lon': {79.8605733}}, {'stop_id': {'91304031WP'}, 'stop_lat': {6.8892613}, 'stop_lon': {79.8569017}}, {'stop_id': {nan}, 'stop_lat': {6.9337351}, 'stop_lon': {79.8562748}}, {'stop_id': {'92311014WP'}, 'stop_lat': {7.1542341}, 'stop_lon': {79.8718651}}, {'stop_id': {'52190008IP'}, 'stop_lat': {7.2808201}, 'stop_lon': {79.8555958}}, {'stop_id': {'52177007IP'}, 'stop_lat': {7.5762174}, 'stop_lon': {79.7958309}}]
       stop_id     stop_lat     stop_lon arrival_time departure_time  \
0   91304020WP  6.877093300  79.86057330     06_25_00       06_25_00
1   91304031WP  6.889261300  79.85690170     06_30_00       06_30_00
2          nan  6.933735100  79.85627480     06_35_00       06_35_00
3   92311014WP  7.154234100  79.87186510     06_40_00       06_40_00
4   52190008IP  7.280820100  79.85559580     06_50_00       06_50_00
5   52177007IP  7.576217400  79.79583090     07_00_00       07_00_00
6          NaN  6.032076500  80.78846800     07_10_10       07_00_00
7  T000000002W  6.869291961  79.85875881     07_20_00       07_20_00
8          NaN  6.756371000  80.69370800     07_30_00       07_30_00

   sequence stop_headsign       trip_id  route_id  direction
0         1        Jaffna  N$0$B111_T01        22          1
1         2        Jaffna  N$0$B111_T01        22          1
2         3        Jaffna  N$0$B111_T01        22          1
3         4        Jaffna  N$0$B111_T01        22          1
4         5        Jaffna  N$0$B111_T01        22          1
5         6        Jaffna  N$1$B111_T01        22          0
6         7        Jaffna  N$1$B111_T01        22          0
7         8        Jaffna  N$1$B111_T01        22          0
8         9        Jaffna  N$1$B111_T01        22          0

In [47]:
pd.set_option('display.precision', 12)
null_values = inputData['stop_id'].isnull()
rows_with_null = inputData[null_values][['stop_lat', 'stop_lon']]
list_rows = rows_with_null.values.tolist()
latitude_vals = rows_with_null['stop_lat']
longitude_vals = rows_with_null['stop_lon']
print(len(list_rows))
print(list_rows)

2
[[6.0320765, 80.788468], [6.756371, 80.693708]]

In [48]:
missing_list = []


with open(txt_file_path, 'r', encoding='utf-8') as txtfile:
  header = txtfile.readline()
  text_data = [line.strip().split(',') for line in txtfile]

search_data_list = []
for row in text_data:
  lat_data = float(row[-2])
  lon_data = float(row[-1])

  if (latitude_vals.isin([lat_data]).any()) and (longitude_vals.isin([lon_data]).any()):
    # print(latitude_cords)
    collected_list = {'stop_id': {row[0]}, 'stop_lat': {row[2]}, 'stop_lon': {row[3]}}
    # print(collected_list)
    missing_list.append(collected_list)
    print(missing_list)
print(len(missing_list))

0

In [49]:
# new_df = []
for info in missing_list:
  id_value = str(info['stop_id'].pop())
  lat_value = float(info['stop_lat'].pop())
  lon_value = float(info['stop_lon'].pop())

  inputData.loc[(inputData['stop_lon'] ==  lon_value) & (inputData['stop_lat'] ==  lat_value), 'stop_id'] = id_value

with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(inputData)

       stop_id     stop_lat     stop_lon arrival_time departure_time  \
0   91304020WP  6.877093300  79.86057330     06_25_00       06_25_00
1   91304031WP  6.889261300  79.85690170     06_30_00       06_30_00
2          nan  6.933735100  79.85627480     06_35_00       06_35_00
3   92311014WP  7.154234100  79.87186510     06_40_00       06_40_00
4   52190008IP  7.280820100  79.85559580     06_50_00       06_50_00
5   52177007IP  7.576217400  79.79583090     07_00_00       07_00_00
6          NaN  6.032076500  80.78846800     07_10_10       07_00_00
7  T000000002W  6.869291961  79.85875881     07_20_00       07_20_00
8          NaN  6.756371000  80.69370800     07_30_00       07_30_00

   sequence stop_headsign       trip_id  route_id  direction
0         1        Jaffna  N$0$B111_T01        22          1
1         2        Jaffna  N$0$B111_T01        22          1
2         3        Jaffna  N$0$B111_T01        22          1
3         4        Jaffna  N$0$B111_T01        22          1
4         5        Jaffna  N$0$B111_T01        22          1
5         6        Jaffna  N$1$B111_T01        22          0
6         7        Jaffna  N$1$B111_T01        22          0
7         8        Jaffna  N$1$B111_T01        22          0
8         9        Jaffna  N$1$B111_T01        22          0

In [50]:
pd.set_option('display.precision', 12)
null_values = inputData['stop_id'].isnull()
rows_with_null = inputData[null_values][['stop_lat', 'stop_lon']]
list_rows = rows_with_null.values.tolist()
print(len(list_rows))
print(list_rows)

2
[[6.0320765, 80.788468], [6.756371, 80.693708]]

In [ ]:
# for indx, values in rows_with_null.items():
#     # print('index: ', indx, 'value: ', values)
#     print(values[0])
# for rownum,(indx,values) in enumerate(rows_with_null.items()):
#     print('row number: ', rownum, 'index: ', indx, 'value: ', values)

80.256018

In [51]:

from math import radians, sin, cos, sqrt, atan2

def get_distance(lat1, lon1, lat2, lon2):
    '''
      Get the distance using latitude and longitude.
      a = sin(d_lat / 2)**2 + cos(radians(lat1)) * cos(radians(lat2)) * sin(d_lon / 2)**2
      c = 2 * atan2(sqrt(a), sqrt(1 - a))

      distance = R * c*1000

      Ask user to enter target latitude, longitude and distance.
      Return all the results inside of the entered geolocation and radius.
    '''
    R = 6371.0

    d_lat = radians(lat2 - lat1)
    d_lon = radians(lon2 - lon1)

    a = sin(d_lat / 2)**2 + cos(radians(lat1)) * cos(radians(lat2)) * sin(d_lon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c*1000

    return distance

txt_file_path = "/content/drive/My Drive/Colab Notebooks/stopsNew.txt"

with open(txt_file_path, 'r', encoding='utf-8') as txtfile:

    header = txtfile.readline()

    data = [line.strip().split(',') for line in txtfile]

def get_gps_positions(data, target_lat, target_lon, max_distance):
    filtered_positions = []

    for id,values in enumerate (data, start=1):
        stop_lat = float(values[-2])
        stop_lon = float(values[-1])

        distance = get_distance(target_lat, target_lon, stop_lat, stop_lon)
        if distance <= max_distance:
            filtered_positions.append((id,values[0], values[1], stop_lat, stop_lon, distance))

    return filtered_positions

mismatch_list = []

i = 0
while (i < len(list_rows)):

  target_lat = list_rows[i][0]
  target_lon = list_rows[i][1]
  max_distance = 10


  filtered_positions = get_gps_positions(data, target_lat, target_lon, max_distance)

  for lat, lon in zip([target_lat], [target_lon]):
    filtered_positions = get_gps_positions(data, lat, lon, max_distance)

    if len(filtered_positions) == 1:
      # Handle single position case
      identified_list = {'stop_id': {filtered_positions[0][1]}, 'stop_lat': {filtered_positions[0][3]}, 'stop_lon': {filtered_positions[0][4]}}
      inputData.loc[(inputData['stop_lon'] ==  target_lon) & (inputData['stop_lat'] ==  target_lat), ['stop_id', 'stop_lat', 'stop_lon']] = [filtered_positions[0][1], filtered_positions[0][3],
                                                                                                                                             filtered_positions[0][4]]
      mismatch_list.append(identified_list)  # Access the ID directly
    elif len(filtered_positions) > 1:
      for showId in filtered_positions:
        print(f"id: {showId[0]}, stop_id: {showId[1]}, stop_name: {showId[2]}, stop_lat: {showId[3]}, stop_lon: {showId[4]}, distance: {showId[5]} m")
      stop_id = int(input("Which Id do you want to enter ? "))
      for selected_id in filtered_positions:
        if selected_id[0] == stop_id:
          selected_list = {'stop_id': {selected_id[1]}, 'stop_lat': {selected_id[3]}, 'stop_lon': {selected_id[4]}}
          mismatch_list.append(selected_list)
          inputData.loc[(inputData['stop_lon'] ==  target_lon) & (inputData['stop_lat'] ==  target_lat), ['stop_id', 'stop_lat', 'stop_lon']] = [selected_id[1], selected_id[3], selected_id[4]]
          print(mismatch_list)
          break  # Break out of the loop after finding the match

  i += 1

print(mismatch_list)

id: 31, stop_id: 33033049SP, stop_name: Indipokunagoda Road, stop_lat: 6.0320753, stop_lon: 80.7884648, distance: 0.37817590157960174 m
id: 14016, stop_id: 33033020SP, stop_name: Indipokunagoda Road, stop_lat: 6.0320753, stop_lon: 80.7884648, distance: 0.37817590157960174 m
Which Id do you want to enter ? 31
[{'stop_id': {'33033049SP'}, 'stop_lat': {6.0320753}, 'stop_lon': {80.7884648}}]
[{'stop_id': {'33033049SP'}, 'stop_lat': {6.0320753}, 'stop_lon': {80.7884648}}]

In [52]:
# for info in mismatch_list:
#   id_value = str(info['stop_id'].pop())
#   lat_value = float(info['lat'].pop())
#   lon_value = float(info['lon'].pop())
#   excelData.loc[(excelData['stop_lon'] ==  lon_value) & (excelData['stop_lat'] ==  lat_value), 'stop_id'] = id_value

with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(inputData)

       stop_id     stop_lat     stop_lon arrival_time departure_time  \
0   91304020WP  6.877093300  79.86057330     06_25_00       06_25_00
1   91304031WP  6.889261300  79.85690170     06_30_00       06_30_00
2          nan  6.933735100  79.85627480     06_35_00       06_35_00
3   92311014WP  7.154234100  79.87186510     06_40_00       06_40_00
4   52190008IP  7.280820100  79.85559580     06_50_00       06_50_00
5   52177007IP  7.576217400  79.79583090     07_00_00       07_00_00
6   33033049SP  6.032075300  80.78846480     07_10_10       07_00_00
7  T000000002W  6.869291961  79.85875881     07_20_00       07_20_00
8          NaN  6.756371000  80.69370800     07_30_00       07_30_00

   sequence stop_headsign       trip_id  route_id  direction
0         1        Jaffna  N$0$B111_T01        22          1
1         2        Jaffna  N$0$B111_T01        22          1
2         3        Jaffna  N$0$B111_T01        22          1
3         4        Jaffna  N$0$B111_T01        22          1
4         5        Jaffna  N$0$B111_T01        22          1
5         6        Jaffna  N$1$B111_T01        22          0
6         7        Jaffna  N$1$B111_T01        22          0
7         8        Jaffna  N$1$B111_T01        22          0
8         9        Jaffna  N$1$B111_T01        22          0

In [53]:
pd.set_option('display.precision', 12)
null_values = inputData['stop_id'].isnull()
rows_to_add_ids = inputData[null_values][['stop_id', 'stop_lat', 'stop_lon']]
list_rows_to_add_ids = rows_to_add_ids.values.tolist()
# print(len(list_rows))
print(list_rows_to_add_ids)

[[nan, 6.756371, 80.693708]]

In [54]:
i = 0
for i in range(len(list_rows_to_add_ids)):
  row_to_add = {'stop_id': list_rows_to_add_ids[i][0], 'stop_name': '', 'stop_lat': list_rows_to_add_ids[i][1],
                'stop_lon': list_rows_to_add_ids[i][2]}
  excelData.loc[len(excelData)] = row_to_add
  i += 1
# print(row_to_add)

In [55]:
print(excelData.tail())

         stop_id  stop_code             stop_name  stop_desc   stop_lat  \
82    71233010IP        NaN                Neluwa        NaN  6.3774803
83  31021060SP-R        NaN  Batuwangala Junction        NaN  6.3807607
84  31021045SP-R        NaN           Kadiningala        NaN  6.3462312
85  31021037SP-R        NaN               Dellawa        NaN  6.3209369
86           NaN        NaN                              NaN  6.7563710

      stop_lon  zone_id  stop_url  location_type  parent_station  \
82  80.3608382      NaN       NaN            NaN             NaN
83  80.3777370      NaN       NaN            NaN             NaN
84  80.4157197      NaN       NaN            NaN             NaN
85  80.4368641      NaN       NaN            NaN             NaN
86  80.6937080      NaN       NaN            NaN             NaN

    stop_timezone  wheelchair_boarding
82            NaN                  NaN
83            NaN                  NaN
84            NaN                  NaN
85            NaN                  NaN
86            NaN                  NaN

In [56]:
#Extracting stop id s that start with letter "T"

stop_id_list = excelData['stop_id'].tolist()
string_list = [str(id) for id in stop_id_list]
print(string_list)

count_a = sum(1 for word in string_list if word.startswith('T'))
print(count_a)

i = count_a
if (count_a != 0):
  for index, row in excelData.iterrows():
    if (pd.isna(row['stop_id'])):
      stop_name = str(input(f"Enter a stop name for index number {index} , latitude {row['stop_lat']} and longitude {row['stop_lon']} "))
      excelData.loc[[index], ['stop_id', 'stop_name']] = [f'T{i + 1:08}', stop_name]
      i += 1

print(excelData.tail())

# with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
#     print(excelData)

['T000000002W', '91304020WP', '91304216IP', '91304030WP', '91304031WP', '91304224IP-R', '91304033WP-R', '91304035WP-R', '91304037WP-R', '91304039WP', '91292041WP', '91292077WP', 'nan', '91292193IP', '91292085WP', '91292058WP', 'T000000001W', '91292098WP', '91292154WP', '92312078WP', '92311014WP', '92316013WP', '92316068IP', '92316065WP', '52190008IP', '52183005IP', 'T000000001NW', '52177007IP', '52176011IP', '52184002TS', '52184004TS', '52188011IP', '52188015IP', '52180004IP', '52180005IP', '31093005IP', '31095021IP', '31090010IP', '45141001TS', '45142025IP', '45142021IP', '44137018IP', '42127006IP', '42127012IP', '42126004IP', '42126005IP', '42128002IP', '42128000IP', '41117024IP', '41117025IP', '41117014IP', '41117015IP', '41116010IP', '41116009IP', '41116006IP', '41116007IP', '41114003IP', 'T000000004N', '41123001TS', 'T000000003N', '41123002TS', '41123003TS', '41122001TS', 'T000000002N', 'T000000001', '71226009IP', '71226013IP', '71226014IP', '31045068SP', '71219015EX', '92313004WP', '92311020WP', '92311016WP', '92316061WP', '92316022WP', '92316056WP', '92316052WP', '92316062WP', '71237004IP', '31048190SP', '71232010IP', '71235011IP', '71233010IP', '31021060SP-R', '31021045SP-R', '31021037SP-R', 'nan']
7
Enter a stop name for index number 12 , latitude 6.9337351 and longitude 79.8562748 Colombo
Enter a stop name for index number 86 , latitude 6.756371 and longitude 80.693708 Kandy
         stop_id  stop_code             stop_name  stop_desc   stop_lat  \
82    71233010IP        NaN                Neluwa        NaN  6.3774803
83  31021060SP-R        NaN  Batuwangala Junction        NaN  6.3807607
84  31021045SP-R        NaN           Kadiningala        NaN  6.3462312
85  31021037SP-R        NaN               Dellawa        NaN  6.3209369
86     T00000009        NaN                 Kandy        NaN  6.7563710

      stop_lon  zone_id  stop_url  location_type  parent_station  \
82  80.3608382      NaN       NaN            NaN             NaN
83  80.3777370      NaN       NaN            NaN             NaN
84  80.4157197      NaN       NaN            NaN             NaN
85  80.4368641      NaN       NaN            NaN             NaN
86  80.6937080      NaN       NaN            NaN             NaN

    stop_timezone  wheelchair_boarding
82            NaN                  NaN
83            NaN                  NaN
84            NaN                  NaN
85            NaN                  NaN
86            NaN                  NaN

In [57]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(excelData)

         stop_id  stop_code                      stop_name  stop_desc  \
0    T000000002W        NaN    Visa Pillaiyar Kovil IBC Rd        NaN
1     91304020WP        NaN             Wellawatte Station        NaN
2     91304216IP        NaN              7Stories Ranjanas        NaN
3     91304030WP        NaN   Bambalapitiya Flats Bus Stop        NaN
4     91304031WP        NaN               Visakha Bus Stop        NaN
5   91304224IP-R        NaN          Bambalapitiya MC Park        NaN
6   91304033WP-R        NaN      Cargills Bank-Kollupitiya        NaN
7   91304035WP-R        NaN          Kollupitiya McDonalds        NaN
8   91304037WP-R        NaN           Kollupitiya Bus Stop        NaN
9     91304039WP        NaN                 Cinnaman Grand        NaN
10    91292041WP        NaN             Galleface Bus Stop        NaN
11    91292077WP        NaN         Pettah Railway Station        NaN
12     T00000008        NaN                        Colombo        NaN
13    91292193IP        NaN    Technical Junction Maradana        NaN
14    91292085WP        NaN       Panchikawatta Roundabout        NaN
15    91292058WP        NaN   Armour Street Police Station        NaN
16   T000000001W        NaN           Kotahena Post Office        NaN
17    91292098WP        NaN            Stadium Petrol shed        NaN
18    91292154WP        NaN    Thotalaga Junction Bus Stop        NaN
19    92312078WP        NaN            Peliyagoda junction        NaN
20    92311014WP        NaN               Airport Bus Stop        NaN
21    92316013WP        NaN      Negombo Hospital Bus Stop        NaN
22    92316068IP        NaN           Periyamulla Junction        NaN
23    92316065WP        NaN     Negombo Kochikadai Peoples        NaN
24    52190008IP        NaN                     Wennappuwa        NaN
25    52183005IP        NaN                      Maarawila        NaN
26  T000000001NW        NaN        General Hospital Chilaw        NaN
27    52177007IP        NaN                         Chilaw        NaN
28    52176011IP        NaN                    Bangadeniya        NaN
29    52184002TS        NaN                         Mundel        NaN
30    52184004TS        NaN                    Madurankuli        NaN
31    52188011IP        NaN                       Palaviya        NaN
32    52188015IP        NaN                        Puttlam        NaN
33    52180004IP        NaN                Karuwalagaswewa        NaN
34    52180005IP        NaN                     Saliyawewa        NaN
35    31093005IP        NaN                  Nochchiyagama        NaN
36    31095021IP        NaN                   Anuradhapura        NaN
37    31090010IP        NaN                  Madawachchiya        NaN
38    45141001TS        NaN                       Vavuniya        NaN
39    45142025IP        NaN                   Puliyankulam        NaN
40    45142021IP        NaN               Kanagarayankulam        NaN
41    44137018IP        NaN                      Maankulam        NaN
42    42127006IP        NaN                     Iranaimadu        NaN
43    42127012IP        NaN                    Kilinochchi        NaN
44    42126004IP        NaN                      Paranthan        NaN
45    42126005IP        NaN                  Elephant Pass        NaN
46    42128002IP        NaN                     Iyakachchi        NaN
47    42128000IP        NaN                          Palai        NaN
48    41117024IP        NaN                      Kodikamam        NaN
49    41117025IP        NaN              Meesalai Junction        NaN
50    41117014IP        NaN                 Chavakachcheri        NaN
51    41117015IP        NaN                       Madduvil        NaN
52    41116010IP        NaN                Kaithady Bridge        NaN
53    41116009IP        NaN                      Navatkuli        NaN
54    41116006IP        NaN                  Pangkangkulam        NaN
55    41116007IP        NaN  Jaffna Divisional Secretariat        NaN
56    41114003IP        NaN                         Jaffna        NaN
57   T000000004N        NaN                     Nachchimar        NaN
58    41123001TS        NaN                         Inuvil        NaN
59   T000000003N        NaN               Maruthanar Madam        NaN
60    41123002TS        NaN                      Chunnakam        NaN
61    41123003TS        NaN                       Mallakam        NaN
62    41122001TS        NaN                    Thellipalai        NaN
63   T000000002N        NaN                  Pandatharippu        NaN
64    T000000001        NaN                    Vaddukoddai        NaN
65    71226009IP        NaN                          Galle        NaN
66    71226013IP        NaN                        Magalle        NaN
67    71226014IP        NaN                Dewata Junction        NaN
68    31045068SP        NaN                    Walahanduwa        NaN
69    71219015EX        NaN              Pinnaduwa Highway        NaN
70    92313004WP        NaN                      Kadawatha        NaN
71    92311020WP        NaN             Airport/Katunayake        NaN
72    92311016WP        NaN                 18Th Mile Post        NaN
73    92316061WP        NaN        20th Mile Post Junction        NaN
74    92316022WP        NaN                         Kurana        NaN
75    92316056WP        NaN              Taladuwa Junction        NaN
76    92316052WP        NaN     Telwatta Junction Bus Stop        NaN
77    92316062WP        NaN                        Negombo        NaN
78    71237004IP        NaN           Kottawagama Junction        NaN
79    31048190SP        NaN          Nakiyadeniya Junction        NaN
80    71232010IP        NaN                        Udugama        NaN
81    71235011IP        NaN             Thawalama Junction        NaN
82    71233010IP        NaN                         Neluwa        NaN
83  31021060SP-R        NaN           Batuwangala Junction        NaN
84  31021045SP-R        NaN                    Kadiningala        NaN
85  31021037SP-R        NaN                        Dellawa        NaN
86     T00000009        NaN                          Kandy        NaN

       stop_lat     stop_lon  zone_id  stop_url  location_type  \
0   6.869291961  79.85875881      NaN       NaN            NaN
1   6.877093300  79.86057330      NaN       NaN            NaN
2   6.881399600  79.86167910      NaN       NaN            NaN
3   6.884079100  79.85838670      NaN       NaN            NaN
4   6.889261300  79.85690170      NaN       NaN            NaN
5   6.893355800  79.85554220      NaN       NaN            NaN
6   6.897008800  79.85436840      NaN       NaN            NaN
7   6.902893600  79.85247210      NaN       NaN            NaN
8   6.909925600  79.85011770      NaN       NaN            NaN
9   6.917003026  79.84782446      NaN       NaN            NaN
10  6.925508238  79.84478921      NaN       NaN            NaN
11  6.934050239  79.85018648      NaN       NaN            NaN
12  6.933735100  79.85627480      NaN       NaN            NaN
13  6.932425700  79.86065170      NaN       NaN            NaN
14  6.934598399  79.86744247      NaN       NaN            NaN
15  6.939940500  79.86590690      NaN       NaN            NaN
16  6.945384955  79.86379973      NaN       NaN            NaN
17  6.947437900  79.86995840      NaN       NaN            NaN
18  6.958413300  79.87582140      NaN       NaN            NaN
19  6.957241200  79.88232970      NaN       NaN            NaN
20  7.154234100  79.87186510      NaN       NaN            NaN
21  7.211022923  79.84874245      NaN       NaN            NaN
22  7.221738900  79.84695910      NaN       NaN            NaN
23  7.225401300  79.85003350      NaN       NaN            NaN
24  7.280820100  79.85559580      NaN       NaN            NaN
25  7.414222700  79.83081090      NaN       NaN            NaN
26  7.571781448  79.79775006      NaN       NaN            NaN
27  7.576217400  79.79583090      NaN       NaN            NaN
28  7.628541900  79.82255100      NaN       NaN            NaN
29  7.797689200  79.82562350      NaN       NaN            NaN
30  7.903040800  79.82101950      NaN       NaN            NaN
31  7.978602000  79.83318600      NaN       NaN            NaN
32  8.030036900  79.85278490      NaN       NaN            NaN
33  8.056069300  79.95660920      NaN       NaN            NaN
34  8.193180400  80.09308670      NaN       NaN            NaN
35  8.263528500  80.21001490      NaN       NaN            NaN
36  8.342101700  80.41169960      NaN       NaN            NaN
37  8.539056000  80.49280280      NaN       NaN            NaN
38  8.753776700  80.49356460      NaN       NaN            NaN
39  8.962627600  80.52470580      NaN       NaN            NaN
40  9.051504400  80.51431980      NaN       NaN            NaN
41  9.146449200  80.43812560      NaN       NaN            NaN
42  9.343935500  80.40915680      NaN       NaN            NaN
43  9.353815200  80.40892210      NaN       NaN            NaN
44  9.437217700  80.40759170      NaN       NaN            NaN
45  9.502337200  80.40639810      NaN       NaN            NaN
46  9.563140300  80.39994250      NaN       NaN            NaN
47  9.609015100  80.33051630      NaN       NaN            NaN
48  9.680748500  80.21546050      NaN       NaN            NaN
49  9.677690500  80.19640270      NaN       NaN            NaN
50  9.659159700  80.16234670      NaN       NaN            NaN
51  9.669089800  80.12116330      NaN       NaN            NaN
52  9.670373100  80.10806030      NaN       NaN            NaN
53  9.662159400  80.08069280      NaN       NaN            NaN
54  9.661030500  80.03846080      NaN       NaN            NaN
55  9.660430300  80.02820360      NaN       NaN            NaN
56  9.664518100  80.00997310      NaN       NaN            NaN
57  9.687362709  80.01366298      NaN       NaN            NaN
58  9.726727700  80.02953170      NaN       NaN            NaN
59  9.729623895  80.02374084      NaN       NaN            NaN
60  9.745835500  80.03344770      NaN       NaN            NaN
61  9.762774600  80.03222470      NaN       NaN            NaN
62  9.784935800  80.03514290      NaN       NaN            NaN
63  9.773248207  79.96939329      NaN       NaN            NaN
64  9.728503545  79.94856188      NaN       NaN            NaN
65  6.032951000  80.21553200      NaN       NaN            NaN
66  6.034081000  80.23547400      NaN       NaN            NaN
67  6.033221000  80.23842800      NaN       NaN            NaN
68  6.049924000  80.25601800      NaN       NaN            NaN
69  6.064258000  80.26183400      NaN       NaN            NaN
70  7.005171000  79.95463900      NaN       NaN            NaN
71  7.174844000  79.88865200      NaN       NaN            NaN
72  7.157859000  79.87079800      NaN       NaN            NaN
73  7.181728000  79.86096300      NaN       NaN            NaN
74  7.189845000  79.85836100      NaN       NaN            NaN
75  7.198412000  79.85459700      NaN       NaN            NaN
76  7.205506000  79.85116500      NaN       NaN            NaN
77  7.205391600  79.84061310      NaN       NaN            NaN
78  6.102130600  80.31825970      NaN       NaN            NaN
79  6.141863500  80.33775840      NaN       NaN            NaN
80  6.216211700  80.33586610      NaN       NaN            NaN
81  6.340349700  80.33662320      NaN       NaN            NaN
82  6.377480300  80.36083820      NaN       NaN            NaN
83  6.380760700  80.37773700      NaN       NaN            NaN
84  6.346231200  80.41571970      NaN       NaN            NaN
85  6.320936900  80.43686410      NaN       NaN            NaN
86  6.756371000  80.69370800      NaN       NaN            NaN

    parent_station  stop_timezone  wheelchair_boarding
0              NaN            NaN                  NaN
1              NaN            NaN                  NaN
2              NaN            NaN                  NaN
3              NaN            NaN                  NaN
4              NaN            NaN                  NaN
5              NaN            NaN                  NaN
6              NaN            NaN                  NaN
7              NaN            NaN                  NaN
8              NaN            NaN                  NaN
9              NaN            NaN                  NaN
10             NaN            NaN                  NaN
11             NaN            NaN                  NaN
12             NaN            NaN                  NaN
13             NaN            NaN                  NaN
14             NaN            NaN                  NaN
15             NaN            NaN                  NaN
16             NaN            NaN                  NaN
17             NaN            NaN                  NaN
18             NaN            NaN                  NaN
19             NaN            NaN                  NaN
20             NaN            NaN                  NaN
21             NaN            NaN                  NaN
22             NaN            NaN                  NaN
23             NaN            NaN                  NaN
24             NaN            NaN                  NaN
25             NaN            NaN                  NaN
26             NaN            NaN                  NaN
27             NaN            NaN                  NaN
28             NaN            NaN                  NaN
29             NaN            NaN                  NaN
30             NaN            NaN                  NaN
31             NaN            NaN                  NaN
32             NaN            NaN                  NaN
33             NaN            NaN                  NaN
34             NaN            NaN                  NaN
35             NaN            NaN                  NaN
36             NaN            NaN                  NaN
37             NaN            NaN                  NaN
38             NaN            NaN                  NaN
39             NaN            NaN                  NaN
40             NaN            NaN                  NaN
41             NaN            NaN                  NaN
42             NaN            NaN                  NaN
43             NaN            NaN                  NaN
44             NaN            NaN                  NaN
45             NaN            NaN                  NaN
46             NaN            NaN                  NaN
47             NaN            NaN                  NaN
48             NaN            NaN                  NaN
49             NaN            NaN                  NaN
50             NaN            NaN                  NaN
51             NaN            NaN                  NaN
52             NaN            NaN                  NaN
53             NaN            NaN                  NaN
54             NaN            NaN                  NaN
55             NaN            NaN                  NaN
56             NaN            NaN                  NaN
57             NaN            NaN                  NaN
58             NaN            NaN                  NaN
59             NaN            NaN                  NaN
60             NaN            NaN                  NaN
61             NaN            NaN                  NaN
62             NaN            NaN                  NaN
63             NaN            NaN                  NaN
64             NaN            NaN                  NaN
65             NaN            NaN                  NaN
66             NaN            NaN                  NaN
67             NaN            NaN                  NaN
68             NaN            NaN                  NaN
69             NaN            NaN                  NaN
70             NaN            NaN                  NaN
71             NaN            NaN                  NaN
72             NaN            NaN                  NaN
73             NaN            NaN                  NaN
74             NaN            NaN                  NaN
75             NaN            NaN                  NaN
76             NaN            NaN                  NaN
77             NaN            NaN                  NaN
78             NaN            NaN                  NaN
79             NaN            NaN                  NaN
80             NaN            NaN                  NaN
81             NaN            NaN                  NaN
82             NaN            NaN                  NaN
83             NaN            NaN                  NaN
84             NaN            NaN                  NaN
85             NaN            NaN                  NaN
86             NaN            NaN                  NaN

In [183]:

travo_added_id_list = []

for row in excelData.iterrows():
  lat_data = float(row[1].stop_lat)
  lon_data = float(row[1].stop_lon)

  if (latitude_cords.isin([lat_data]).any()) and (longitude_cords.isin([lon_data]).any()):
    extracted_list = {'stop_id': {row[1].stop_id}, 'stop_lat': {row[1].stop_lat}, 'stop_lon': {row[1].stop_lon}}
    travo_added_id_list.append(extracted_list)

print(travo_added_id_list)

#Update df with search cord list values
for info in travo_added_id_list:
  id_value = str(info['stop_id'].pop())
  lat_value = float(info['stop_lat'].pop())
  lon_value = float(info['stop_lon'].pop())

  inputData.loc[(inputData['stop_lon'] ==  lon_value) & (inputData['stop_lat'] ==  lat_value), 'stop_id'] = id_value

with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(inputData)

[{'stop_id': {'T00000002'}, 'stop_lat': {6.869291961}, 'stop_lon': {79.85875881}}, {'stop_id': {'91304020WP'}, 'stop_lat': {6.8770933}, 'stop_lon': {79.8605733}}, {'stop_id': {'91304031WP-R'}, 'stop_lat': {6.8892613}, 'stop_lon': {79.8569017}}, {'stop_id': {'91292081WP'}, 'stop_lat': {6.9337351}, 'stop_lon': {79.8562748}}, {'stop_id': {'92311014WP'}, 'stop_lat': {7.1542341}, 'stop_lon': {79.8718651}}, {'stop_id': {'52190008IP'}, 'stop_lat': {7.2808201}, 'stop_lon': {79.8555958}}, {'stop_id': {'52177007IP'}, 'stop_lat': {7.5762174}, 'stop_lon': {79.7958309}}, {'stop_id': {'T00000012'}, 'stop_lat': {6.756371}, 'stop_lon': {80.693708}}]
        stop_id     stop_lat     stop_lon arrival_time departure_time  \
0    91304020WP  6.877093300  79.86057330     06_25_00       06_25_00
1  91304031WP-R  6.889261300  79.85690170     06_30_00       06_30_00
2    91292081WP  6.933735100  79.85627480     06_35_00       06_35_00
3    92311014WP  7.154234100  79.87186510     06_40_00       06_40_00
4    52190008IP  7.280820100  79.85559580     06_50_00       06_50_00
5    52177007IP  7.576217400  79.79583090     07_00_00       07_00_00
6    33033049SP  6.032075300  80.78846480     07_10_10       07_00_00
7     T00000002  6.869291961  79.85875881     07_20_00       07_20_00
8     T00000012  6.756371000  80.69370800     07_30_00       07_30_00

   sequence stop_headsign       trip_id  route_id  direction
0         1        Jaffna  N$0$B111_T01        22          1
1         2        Jaffna  N$0$B111_T01        22          1
2         3        Jaffna  N$0$B111_T01        22          1
3         4        Jaffna  N$0$B111_T01        22          1
4         5        Jaffna  N$0$B111_T01        22          1
5         6        Jaffna  N$1$B111_T01        22          0
6         7        Jaffna  N$1$B111_T01        22          0
7         8        Jaffna  N$1$B111_T01        22          0
8         9        Jaffna  N$1$B111_T01        22          0

In [184]:
appending_input_data_list = inputData.values.tolist()
print(appending_input_data_list)
excelData_list = excelData.values.tolist()
# print(excelData_list)

[['91304020WP', 6.8770933, 79.8605733, '06_25_00', '06_25_00', 1, 'Jaffna', 'N$0$B111_T01', 22, 1], ['91304031WP-R', 6.8892613, 79.8569017, '06_30_00', '06_30_00', 2, 'Jaffna', 'N$0$B111_T01', 22, 1], ['91292081WP', 6.9337351, 79.8562748, '06_35_00', '06_35_00', 3, 'Jaffna', 'N$0$B111_T01', 22, 1], ['92311014WP', 7.1542341, 79.8718651, '06_40_00', '06_40_00', 4, 'Jaffna', 'N$0$B111_T01', 22, 1], ['52190008IP', 7.2808201, 79.8555958, '06_50_00', '06_50_00', 5, 'Jaffna', 'N$0$B111_T01', 22, 1], ['52177007IP', 7.5762174, 79.7958309, '07_00_00', '07_00_00', 6, 'Jaffna', 'N$1$B111_T01', 22, 0], ['33033049SP', 6.0320753, 80.7884648, '07_10_10', '07_00_00', 7, 'Jaffna', 'N$1$B111_T01', 22, 0], ['T00000002', 6.869291961, 79.85875881, '07_20_00', '07_20_00', 8, 'Jaffna', 'N$1$B111_T01', 22, 0], ['T00000012', 6.756371, 80.693708, '07_30_00', '07_30_00', 9, 'Jaffna', 'N$1$B111_T01', 22, 0]]

In [185]:
from openpyxl import load_workbook
df = pd.read_excel(excel_file_path, sheet_name= None )
stop_time_sheet = df["Stop_time"]
print(stop_time_sheet)

     Unnamed: 0 arrival_time departure_time     stop_id  stop_sequence  \
0           NaN     06_25_00       06_25_00         NaN            NaN
1           NaN     06_30_00       06_30_00         NaN            NaN
2           NaN     06_35_00       06_35_00         NaN            NaN
3           NaN     06_38_00       06_38_00         NaN            NaN
4           NaN     06_40_00       06_40_00         NaN            NaN
..          ...          ...            ...         ...            ...
186         NaN     06_50_00       06_50_00  52190008IP            5.0
187         NaN     07_00_00       07_00_00  52177007IP            6.0
188         NaN     07_10_10       07_00_00  33033049SP            7.0
189         NaN     07_20_00       07_20_00   T00000002            8.0
190         NaN     07_30_00       07_30_00   T00000012            9.0

    stop_headsign  pickup_type  drop_off_type  continuous_pickup  \
0             NaN          NaN            NaN                NaN
1             NaN          NaN            NaN                NaN
2             NaN          NaN            NaN                NaN
3             NaN          NaN            NaN                NaN
4             NaN          NaN            NaN                NaN
..            ...          ...            ...                ...
186        Jaffna          NaN            NaN                NaN
187        Jaffna          NaN            NaN                NaN
188        Jaffna          NaN            NaN                NaN
189        Jaffna          NaN            NaN                NaN
190        Jaffna          NaN            NaN                NaN

     continuous_drop_off  shape_dist_traveled  timepoint
0                    NaN                  NaN        1.0
1                    NaN                  NaN        1.0
2                    NaN                  NaN        1.0
3                    NaN                  NaN        1.0
4                    NaN                  NaN        1.0
..                   ...                  ...        ...
186                  NaN                  NaN        NaN
187                  NaN                  NaN        NaN
188                  NaN                  NaN        NaN
189                  NaN                  NaN        NaN
190                  NaN                  NaN        NaN

[191 rows x 12 columns]

In [186]:
j = 0
for j in range(len(appending_input_data_list)):
  row_to_add = {'trip_id': appending_input_data_list[j][7],'arrival_time': appending_input_data_list[j][3], 'departure_time': appending_input_data_list[j][4], 'stop_id': appending_input_data_list[j][0],
                'stop_sequence': appending_input_data_list[j][5], 'stop_headsign': appending_input_data_list[j][6],}
  stop_time_sheet.loc[len(stop_time_sheet)] = row_to_add
  j += 1
print(row_to_add)

{'trip_id': 'N$1$B111_T01', 'arrival_time': '07_30_00', 'departure_time': '07_30_00', 'stop_id': 'T00000012', 'stop_sequence': 9, 'stop_headsign': 'Jaffna'}

In [187]:
df_trips_data = pd.DataFrame.from_dict(rows_to_add_trips)
print(df_trips_data)

   route_id service_id       trip_id trip_headsign direction_id
0        22      Daily  N$0$B111_T01        Ampara            0
1        22      Daily  N$1$B111_T01        Ampara            1

In [189]:
# Reindex routes
route_sheet = df['Routes']
route_sheet.loc[len(route_sheet)] = routeRow
routesData = route_sheet.reindex(index=route_sheet.index, columns=route_sheet.columns)
route_sheet[:] = routesData
# df['Routes'] = route_sheet

# Only print the route_sheet after it has been reindexed
print(route_sheet)

#Reindexing Trips
tripsData = tripsData.reindex(index=tripsData.index, columns=df_trips_data.columns)

for update_trips in range(len(rows_to_add_trips)):
  tripsData.loc[len(tripsData)] = rows_to_add_trips[update_trips]
tripsData[:] = tripsData
df["Trips"] = tripsData
print(tripsData)

#Reindexing stops
stops_sheet = df['Stops']
stops_sheet = stops_sheet.reindex(index=excelData.index, columns=excelData.columns)
stops_sheet[:] = excelData
df['Stops'] = stops_sheet

#Reindexing stop times
stop_time_sheet = stop_time_sheet.reindex(index=stop_time_sheet.index, columns=stop_time_sheet.columns)
stop_time_sheet[:] = stop_time_sheet
df["Stop_time"] = stop_time_sheet


with pd.ExcelWriter(excel_file_path, engine="openpyxl") as writer:
  for sheet_name, sheet_data in df.items():
    sheet_data.to_excel(writer, sheet_name=sheet_name, index=False)

  route_id agency_id route_short_name  route_long_name  route_desc route_type  \
0     B019      BOOK               87   Colombo-Jaffna         NaN          3
1     R011      BOOK       EX1-33/270    Galle-Negombo         NaN          3
2    SP358      BOOK              358  Galle - Dellawa         NaN          3
3       22      BOOK               22   Colombo-Ampara         NaN          3
4       22      BOOK               22   Colombo-Ampara         NaN          3

   route_url route_color  route_text_color  route_sort_order  \
0        NaN      D4D428               NaN               NaN
1        NaN      D4D428               NaN               NaN
2        NaN      D4D428               NaN               NaN
3        NaN      D4D428               NaN               NaN
4        NaN      D4D428               NaN               NaN

   continuous_pickup  continuous_drop_off
0                NaN                  NaN
1                NaN                  NaN
2                NaN                  NaN
3                NaN                  NaN
4                NaN                  NaN
   route_id service_id        trip_id trip_headsign direction_id
0      R011      Daily   N$0$R011_T01       Negombo            0
1      R011      Daily   N$1$R011_T01         Galle            1
2      B019      Daily   N$0$B019_T01        Jaffna            0
3      B019      Daily   N$1$B019_T01      Collombo            1
4     SP358      Daily  N$0$SP358_T01       Dellawa            0
5     SP358      Daily  N$1$SP358_T01         Galle            1
6        22      Daily   N$0$B111_T01        Ampara            0
7        22      Daily   N$1$B111_T01        Ampara            1
8        22      Daily   N$0$B111_T01        Ampara            0
9        22      Daily   N$1$B111_T01        Ampara            1
10       22      Daily   N$0$B111_T01        Ampara            0
11       22      Daily   N$1$B111_T01        Ampara            1

In [64]:
from openpyxl import load_workbook
df = pd.read_excel(excel_file_path, sheet_name= None )

sheet = df["Stops"]
sheet = sheet.reindex(index=excelData.index, columns=excelData.columns)
sheet[:] = excelData
df["Stop_time"] = sheet

# with pd.ExcelWriter(excel_file_path, engine="openpyxl") as writer:
#   for sheet_name, sheet_data in df.items():
#     sheet_data.to_excel(writer, sheet_name=sheet_name, index=False)

In [ ]:

# from math import radians, sin, cos, sqrt, atan2

# def get_distance(lat1, lon1, lat2, lon2):
#     '''
#       Get the distance using latitude and longitude.
#       a = sin(d_lat / 2)**2 + cos(radians(lat1)) * cos(radians(lat2)) * sin(d_lon / 2)**2
#       c = 2 * atan2(sqrt(a), sqrt(1 - a))

#       distance = R * c*1000

#       Ask user to enter target latitude, longitude and distance.
#       Return all the results inside of the entered geolocation and radius.
#     '''
#     R = 6371.0

#     d_lat = radians(lat2 - lat1)
#     d_lon = radians(lon2 - lon1)

#     a = sin(d_lat / 2)**2 + cos(radians(lat1)) * cos(radians(lat2)) * sin(d_lon / 2)**2
#     c = 2 * atan2(sqrt(a), sqrt(1 - a))

#     distance = R * c*1000

#     return distance

# txt_file_path = "/content/drive/My Drive/Colab Notebooks/stopsNew.txt"

# with open(txt_file_path, 'r', encoding='utf-8') as txtfile:

#     header = txtfile.readline()

#     data = [line.strip().split(',') for line in txtfile]

# def get_gps_positions(data, target_lat, target_lon, max_distance):
#     filtered_positions = []

#     for id,values in enumerate (data, start=1):
#         stop_lat = float(values[-2])
#         stop_lon = float(values[-1])

#         distance = get_distance(target_lat, target_lon, stop_lat, stop_lon)
#         if distance <= max_distance:
#             filtered_positions.append((id,values[0], values[1], stop_lat, stop_lon, distance))

#     return filtered_positions


# target_lat = rows_with_null['stop_lat']
# target_lon = rows_with_null['stop_lon']
# max_distance = 100


# filtered_positions = get_gps_positions(data, target_lat, target_lon, max_distance)

# mismatch_list = []

# for lat, lon in zip(target_lat, target_lon):
#   filtered_positions = get_gps_positions(data, lat, lon, max_distance)

#   if len(filtered_positions) == 1:
#     # Handle single position case
#     identified_list = {'stop_id': {filtered_positions[0][1]}, 'lat': {filtered_positions[0][3]}, 'lon': {filtered_positions[0][4]}}
#     mismatch_list.append(identified_list)  # Access the ID directly
#   elif len(filtered_positions) > 1:
#     for showId in filtered_positions:
#       print(f"id: {showId[0]}, stop_id: {showId[1]}, stop_name: {showId[2]}, stop_lat: {showId[3]}, stop_lon: {showId[4]}, distance: {showId[5]} m")
#     stop_id = int(input("Which Id do you want to enter ? "))
#     for selected_id in filtered_positions:
#       if selected_id[0] == stop_id:
#         selected_list = {'stop_id': {selected_id[1]}, 'lat': {selected_id[3]}, 'lon': {selected_id[4]}}
#         mismatch_list.append(selected_list)
#         break  # Break out of the loop after finding the match

# print(mismatch_list)

UFuncTypeError: ufunc 'subtract' did not contain a loop with signature matching types (dtype('<U9'), dtype('float64')) -> None

In [ ]:
if (len(filtered_positions) > 0):
  if (len(filtered_positions) == 1):
    print(f"Stop Id: {id[0]}")
  elif (len(filtered_positions) > 1):
      for id in filtered_positions:
        print(f"stop_id: {id[0]}, stop_name: {id[1]}, stop_lat: {id[2]}, stop_lon: {id[3]}, distance: {id[4]} m")
      print("-----------------------------------------------------------------------------------------------------")
      stop_id = input("Which Stop Id do you want to enter ? ")
      for selected_id in filtered_positions:
        if (selected_id[0] == stop_id):
          print(f"stop_id: {selected_id[0]}, stop_name: {selected_id[1]}, stop_lat: {selected_id[2]}, stop_lon: {selected_id[3]}, distance: {selected_id[4]} m")
          mismatch_list.append(selected_id[0])
          print(mismatch_list)
          break

stop_id: 91292081WP, stop_name: Colombo Central Bus Stand, stop_lat: 6.9337351, stop_lon: 79.8562748, distance: 0.0 m
stop_id: 91292199IP, stop_name: Colombo Fort, stop_lat: 6.9336266, stop_lon: 79.8556066, distance: 74.73726826101762 m
stop_id: 91292199IP-R, stop_name: Colombo Fort, stop_lat: 6.9337118, stop_lon: 79.8560089, distance: 29.464621665357893 m
-----------------------------------------------------------------------------------------------------
Which Stop Id do you want to enter ? 91292081WP
stop_id: 91292081WP, stop_name: Colombo Central Bus Stand, stop_lat: 6.9337351, stop_lon: 79.8562748, distance: 0.0 m
['91292081WP']

In [ ]:
import gspread
print(gspread.__version__)

4.0.0

In [ ]:
pip install --upgrade gspread==4.0.0

Collecting gspread==4.0.0
  Downloading gspread-4.0.0-py3-none-any.whl (29 kB)
Requirement already satisfied: google-auth>=1.12.0 in /usr/local/lib/python3.10/dist-packages (from gspread==4.0.0) (2.27.0)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in /usr/local/lib/python3.10/dist-packages (from gspread==4.0.0) (1.2.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth>=1.12.0->gspread==4.0.0) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth>=1.12.0->gspread==4.0.0) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth>=1.12.0->gspread==4.0.0) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from google-auth-oauthlib>=0.4.1->gspread==4.0.0) (1.4.0)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread==4.0.0) (0.5.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread==4.0.0) (3.2.2)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread==4.0.0) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread==4.0.0) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread==4.0.0) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread==4.0.0) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread==4.0.0) (2024.2.2)
Installing collected packages: gspread
  Attempting uninstall: gspread
    Found existing installation: gspread 3.4.2
    Uninstalling gspread-3.4.2:
      Successfully uninstalled gspread-3.4.2
Successfully installed gspread-4.0.0

In [ ]:
stop_file_path = '/content/drive/My Drive/Colab Notebooks/ImportExport_all.xlsm'
data = pd.read_excel(stop_file_path ,sheet_name='stops', usecols='A, C, E, F')

In [ ]:
from openpyxl import load_workbook
workbook = load_workbook(filename=excel_file_path)
# sheet = workbook.active
for sheet_name in workbook.sheetnames:
  if sheet_name == 'stops':
    sheet = workbook[sheet_name]

In [ ]:
#Extract bus stop names from data frame
stop_names = df['stop_name']
print(stop_names)

0                                 Ganahena
1                         Eluwila Junction
2                               Pannanduwa
3                            Kahawannagama
4                               Palutagaha
                       ...
15353                   Wattahena Junction
15354            Gahalakoladeniya Junction
15355             Sri Abinawarama Viharaya
15356             Sri Paramitharamaya Road
15357    Nabadawa Sumangala Maha Vidyalaya
Name: stop_name, Length: 15358, dtype: object

In [ ]:
bus_stop_data = df[df['stop_name'] == 'Bus Stop']
print(bus_stop_data)

            stop_id stop_name   stop_lat    stop_lon
405      11010011IP  Bus Stop  7.3442065  80.9336770
406    11010011IP-R  Bus Stop  7.3442000  80.9336700
860      21040023IP  Bus Stop  7.3008324  81.6707797
861    21040023IP-R  Bus Stop  7.3008300  81.6707412
954      21048012WP  Bus Stop  7.5256183  81.4902249
...             ...       ...        ...         ...
11254  93331019IP-R  Bus Stop  6.4062228  80.2798274
11255    93331020IP  Bus Stop  6.3953037  80.2944937
11256  93331020IP-R  Bus Stop  6.3952650  80.2945098
11465  33009026SP-R  Bus Stop  6.2786681  81.2658800
11480    33009029SP  Bus Stop  6.2783160  81.2658586

[2983 rows x 4 columns]

In [ ]:
bus_stop_data = df[df['stop_name'].str.contains("Bus Stop")]
print(bus_stop_data)

            stop_id                    stop_name   stop_lat    stop_lon
267      11007033IP                     Bus Stop  7.2808669  80.6664705
268    11007033IP-R                     Bus Stop  7.2808649  80.6664464
269      11007034IP                     Bus Stop  7.2726636  80.6806138
270    11007034IP-R                     Bus Stop  7.2726024  80.6805977
353      11008028IP     Gomagoda Bodiya Bus Stop  7.3239410  80.7418510
...             ...                          ...        ...         ...
12435  31039100SP-R            Makuluwa Bus Stop  6.0398829  80.2340605
14797  31033181SP-R     Temple Junction Bus Stop  6.1937792  80.0930062
14806  31036139SP-R  Kuleegoda Junction Bus Stop  6.2138206  80.0703308
14978  31003042SP-R   Miriswatha School Bus Stop  6.3723406  80.0585386
15019    31003083SP   Miriswatha School Bus Stop  6.3720533  80.0586540

[4588 rows x 4 columns]

In [ ]:
!pip install geopy

Requirement already satisfied: geopy in /usr/local/lib/python3.10/dist-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /usr/local/lib/python3.10/dist-packages (from geopy) (2.0)

In [ ]:
'''
  This method get latitude and longitude from Stops.txt file that does not have any stop_name.
  Then getting the name that google maps have using geolocator reverse function.
 '''
from geopy.geocoders import Nominatim

def get_location_name(lat, lon):
    geolocator = Nominatim(user_agent="my_location_identifier")
    location = geolocator.reverse((lat, lon), language='en')
    location_name = location.address

    return location_name

lat = 6.372053
lon = 80.058654

location_name = get_location_name(lat, lon)
print("Location Name", location_name)

Location Name Bentara - Uragaha - Elpitiya Road, Galle District, Southern Province, 80510, Sri Lanka

In [ ]:
import pandas as pd

path_to_excel = '/content/drive/My Drive/Colab Notebooks/ImportExport_data.xlsm'
df = pd.ExcelFile(path_to_excel)
stops_df = df.parse(sheet_name='stops')
# print(df[0:20])
# print(stops_df)
printing_data_list = missing_list

stops_df['stop_id'] = stops_df['stop_id'].astype(str)
for data in printing_data_list:
  id_value = str(data['stop_id'].pop())
  lat_value = float(data['lat'].pop())
  lon_value = float(data['lon'].pop())
  # print(id_value)
  stops_df.loc[(stops_df['stop_lon'] == lon_value) & (stops_df['stop_lat'] == lat_value), 'stop_id'] = id_value
  print(stops_df[0:20])

# newDf = pd.read_excel(path_to_excel)

# with pd.ExcelWriter(path_to_excel, engine='openpyxl', mode='a') as writer:
#   workbook = writer.book
#   try:
#     workbook.remove(workbook['stops'])
#   except:
#     print("worksheet does not exists")
#   finally:
#     newDf.to_excel(writer, sheet_name='stops', index=False)
#     writer.book.save(path_to_excel)

df.to_excel(df, index=False, )

         stop_id  stop_code                     stop_name  stop_desc  \
0    T000000002W        NaN   Visa Pillaiyar Kovil IBC Rd        NaN
1     91304020WP        NaN            Wellawatte Station        NaN
2     91304216IP        NaN             7Stories Ranjanas        NaN
3     91304030WP        NaN  Bambalapitiya Flats Bus Stop        NaN
4     91304031WP        NaN              Visakha Bus Stop        NaN
5   91304224IP-R        NaN         Bambalapitiya MC Park        NaN
6   91304033WP-R        NaN     Cargills Bank-Kollupitiya        NaN
7   91304035WP-R        NaN         Kollupitiya McDonalds        NaN
8   91304037WP-R        NaN          Kollupitiya Bus Stop        NaN
9     91304039WP        NaN                Cinnaman Grand        NaN
10    91292041WP        NaN            Galleface Bus Stop        NaN
11    91292077WP        NaN        Pettah Railway Station        NaN
12    91292081WP        NaN                       Colombo        NaN
13    91292193IP        NaN   Technical Junction Maradana        NaN
14    91292085WP        NaN      Panchikawatta Roundabout        NaN
15    91292058WP        NaN  Armour Street Police Station        NaN
16   T000000001W        NaN          Kotahena Post Office        NaN
17    91292098WP        NaN           Stadium Petrol shed        NaN
18    91292154WP        NaN   Thotalaga Junction Bus Stop        NaN
19    92312078WP        NaN           Peliyagoda junction        NaN

       stop_lat     stop_lon  zone_id  stop_url  location_type  \
0   6.869291961  79.85875881      NaN       NaN            NaN
1   6.877093300  79.86057330      NaN       NaN            NaN
2   6.881399600  79.86167910      NaN       NaN            NaN
3   6.884079100  79.85838670      NaN       NaN            NaN
4   6.889261300  79.85690170      NaN       NaN            NaN
5   6.893355800  79.85554220      NaN       NaN            NaN
6   6.897008800  79.85436840      NaN       NaN            NaN
7   6.902893600  79.85247210      NaN       NaN            NaN
8   6.909925600  79.85011770      NaN       NaN            NaN
9   6.917003026  79.84782446      NaN       NaN            NaN
10  6.925508238  79.84478921      NaN       NaN            NaN
11  6.934050239  79.85018648      NaN       NaN            NaN
12  6.933735100  79.85627480      NaN       NaN            NaN
13  6.932425700  79.86065170      NaN       NaN            NaN
14  6.934598399  79.86744247      NaN       NaN            NaN
15  6.939940500  79.86590690      NaN       NaN            NaN
16  6.945384955  79.86379973      NaN       NaN            NaN
17  6.947437900  79.86995840      NaN       NaN            NaN
18  6.958413300  79.87582140      NaN       NaN            NaN
19  6.957241200  79.88232970      NaN       NaN            NaN

    parent_station  stop_timezone  wheelchair_boarding
0              NaN            NaN                  NaN
1              NaN            NaN                  NaN
2              NaN            NaN                  NaN
3              NaN            NaN                  NaN
4              NaN            NaN                  NaN
5              NaN            NaN                  NaN
6              NaN            NaN                  NaN
7              NaN            NaN                  NaN
8              NaN            NaN                  NaN
9              NaN            NaN                  NaN
10             NaN            NaN                  NaN
11             NaN            NaN                  NaN
12             NaN            NaN                  NaN
13             NaN            NaN                  NaN
14             NaN            NaN                  NaN
15             NaN            NaN                  NaN
16             NaN            NaN                  NaN
17             NaN            NaN                  NaN
18             NaN            NaN                  NaN
19             NaN            NaN                  NaN

In [ ]:
import pandas as pd
from openpyxl import load_workbook

printing_data_list = missing_list
path_to_excel = '/content/drive/My Drive/Colab Notebooks/Bus_Stop_List.xlsx'

with pd.ExcelFile(path_to_excel) as excel_file:
  for sheet_name in excel_file.sheet_names:
    stops_df = excel_file.parse('Stops')
  # print(stops_df[0:20])
  stops_df['stop_id'] = stops_df['stop_id'].astype(str)
  for data in printing_data_list:
    id_value = str(data['stop_id'].pop())
    lat_value = float(data['lat'].pop())
    lon_value = float(data['lon'].pop())
    # print(id_value)
    stops_df.loc[(stops_df['stop_lon'] == lon_value) & (stops_df['stop_lat'] == lat_value), 'stop_id'] = id_value

# wb = load_workbook(path_to_excel, keep_vba=True)
# sheet_to_write = wb['stops']
# sheet_to_write.delete_rows(1, sheet_to_write.max_row)
# stops_df.to_excel(sheet_to_write, startrow=0, startcol=0, index=False)
# wb.save('/content/drive/My Drive/Colab Notebooks/ImportExport_data.xlsm')
    # stops_df.to_excel(path_to_excel, index=False, sheet_name='stops')
with pd.ExcelWriter(path_to_excel, engine='openpyxl', mode='a', if_sheet_exists='new') as writer:
  stops_df.to_excel(writer, sheet_name='new_stops', index=False)

writer.save()

ValueError: could not convert string to float: ' Kosgama"'